<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">

    <link rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
	<title>后台登陆</title>
</head>
<body>
	<div id="login_top">
		<div id="welcome">
			欢迎使用教学质量与教学改革工程管理系统
		</div>
		<div id="back">
			<a href="#">返回首页</a>&nbsp;&nbsp; | &nbsp;&nbsp;
			<a href="#">帮助</a>
		</div>
	</div>
	<div id="login_center">
		<div id="login_area">
			<div id="login_form">
				<form action="/doLogin" method="post">
					<div id="login_tip">
						用户登录&nbsp;&nbsp;UserLogin
					</div>
					<div><input type="text" name="username" class="username"></div>
					<div><input type="password" name="password" class="pwd"></div>
					<div id="btn_area">

						<input type="text" name="code" class="verify">
						<img src="/getCode" alt="" width="80" height="40" id="codeImg">
						<a href="javascript:void(0);" id="changeCode">看不清，换一张</a>
					</div>
					<div>
						<input type="submit" name="submit" id="sub_btn" value="登&nbsp;&nbsp;录" >&nbsp;&nbsp;
						<span th:text="${error}" style="color:red;">消息提示</span>
					</div>

				</form>
			</div>
		</div>
	</div>
	<div id="login_bottom">
		版权所有
	</div>
</body>
</html>
<script>
	//刷新验证码
	$(document).on('click','#changeCode',function(){
		var img=document.getElementById("codeImg");
		img.src="/getCode?"+new Date().getTime();
	});
</script>