<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/mainPage.css">
    <title>首页</title>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="content">
            <h2>货品管理</h2>
            <a href="#" onclick=parent.changePath('/overview.html','库存总览')>库存总览</a>
            <a href="#" onclick=parent.changePath('/goodsInfo.html','货品信息')>货品信息</a>
            <a href="#" onclick=parent.changePath('/inLog.html','入库记录')>入库记录</a>
            <a href="#" onclick=parent.changePath('/outLog.html','出库记录')>出库记录</a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2>仓库管理</h2>
            <a href="#" onclick=parent.changePath('/repoInfo.html','仓库信息')>仓库信息</a>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h2>供应商管理</h2>
            <a href="#" onclick=parent.changePath('/supplierInfo.html','供应商信息')>供应商信息</a>
        </div>
    </div>
</div>
</body>
</html>
  