<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库管理</title>
    <style>
        table-responsive {
            min-height: .01%;
            overflow-x: auto;
            position: relative;
            top: 20px;
        }

    </style>
    <!--引入js文件-->
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.js"></script>
    <script type="text/javascript" src = "js/getRepoInfo.js"></script>
    <script type="text/javascript" src = "js/deleteRepo.js"></script>
</head>
<body onload="getAllInfo()" style="margin: 10px">
<input type="button" name="button" class="btn btn82 btn_add" id ="add" value="新增" onclick="showAddInfo()"><!--parent.changePath('/repoAddInfo.html','添加信息')-->
    <div class="table-responsive" style="margin-top: 10px"></div>
    <!--添加仓库-->
    <div id="search_bar" class="mt10">
    <div class="box">
        <div class="box_border">
            <div class="box_top"><b class="pl15">添加仓库</b></div>
            <div class="box_center pt10 pb10">
                <table class="form_table" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>仓库名称</td>
                        <td><input type="text" name="rmName" id="rmName" class="input-text lh25" size="10"></td>
                        <td>管理部门</td>
                        <td>
                    <span class="fl">
                      <div class="select_border">
                        <div class="select_containers ">
                        <select name="rmDepart" id="rmDepart" class="select">
                        <option selected = "selected">生产部</option>
                        <option>劳保部</option>
                        <option>销售部</option>
                        <option>安全部</option>
                        </select>
                        </div>
                      </div>
                    </span>

                    </tr>
                    <tr>
                        </td>
                        <td>管理员</td>
                        <td><input type="text" name="rmManager" id="rmManager" class="input-text lh25" size="10"></td>
                        <td>电话</td>
                        <td><input type="text" name="rmMphone" id="rmMphone" class="input-text lh25" size="10"></td>
                        <td>仓库面积</td>
                        <td><input type="text" name="rmArea" id="rmArea" class="input-text lh25" size="10"></td>
                    </tr>
                </table>
            </div>
            <div class="box_bottom pb5 pt5 pr10" style="border-top:1px solid #dadada;">
                <div class="search_bar_btn" style="text-align:right;">
                    <input type="button" value="返回" onclick="returnInfo();getAllInfo()" class="ext_btn">
                    <input type="button" id="addInfo" value="保存" class="ext_btn">
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function getAllInfo(){
        $.ajax({
        //dataType:  "json",//服务器返回的数据类型
        //data:"",  //发生给服务器的数据，如果请求是查询所有数据，一般不需要传值
        url: "Repository/list" ,//请求的地址(必须写)
        type: "GET",//指定请求的方式（get、post）
        cache:false,  //发送相同的请求是否从缓存中读取数据
        success:function (data){//data 接受后台响应数据
            //把数据插入到页面--》table-responsive
            var tableHtml = "<table class='list_table'>";
            tableHtml = tableHtml+"<thead><tr><th>仓库名称</th>";
            tableHtml = tableHtml+"<th>管理部门</th><th>管理员</th><th>电话</th>";
            tableHtml = tableHtml+"<th>仓库面积</th><th>操作</th></thead>";
            tableHtml = tableHtml +"<tbody>"
            for(var i = 0;i<data.length;i++){
                tableHtml = tableHtml + "<tr><td>"+data[i].rmName+"</td>";
                tableHtml = tableHtml + "<td>"+data[i].rmDepart+"</td>";
                tableHtml = tableHtml + "<td>"+data[i].rmManager+"</td>";
                tableHtml = tableHtml + "<td>"+data[i].rmMphone+"</td>";
                tableHtml = tableHtml + "<td>"+data[i].rmArea+"</td>";
                tableHtml = tableHtml +"<td><button className='btn btn82 btn_add' onclick=editRepo("+JSON.stringify(data[i])+");>修改</button>";
                tableHtml = tableHtml +"<button className='btn btn82 btn_add' onclick='deleteRepo("+data[i].id+")' >删除</button></td></tr>";
                // tableHtml = tableHtml+ "<td><a href='javascript:void(0)' class='label xiugai'>修改</a>";
                /*JSON是一个js提供json字符串工具
                * JSON字符串：通常用于作为前后端数据传输的方式。格式：{"参数名":参数值}
                * JSON.parse()--把json字符串解析成对象
                * */
                // tableHtml = tableHtml+ "<td><a href='javascript:void(0)' class='label xiugai' onclick='editUser("+JSON.stringify(data[i])+")'>修改</a>"
                // /*绑定事件1.获取到标签之后绑定 2.在标签中通过属性方式来绑定（事件名=‘绑定的函数名’）*/
                // tableHtml = tableHtml+ "<a href='javascript:void(0)' class='label shanchu' onclick='deleteUser("+data[i].id+")'>删除</a></td></tr>"
            }
            tableHtml = tableHtml +"</tbody></table>";
            $(".table-responsive").empty();//清除掉原有的数据
            $(".table-responsive").append(tableHtml);
            $("#search_bar").hide();
        },
        error:function (){},//如果请求失败的话，要做什么操作

    })}
</script>
<script>
    function showAddInfo(){
        $(".table-responsive").empty();
        $("#search_bar").show();

    }
    function returnInfo(){
        saveOrUpdate = -1;
        document.getElementById('rmName').value='';
        document.getElementById('rmDepart').value='生产部';
        document.getElementById('rmManager').value='';
        document.getElementById('rmMphone').value='';
        document.getElementById('rmArea').value='';
    }
    var saveOrUpdate = -1;
    $("#addInfo").click(function (){
        // console.log("test");
        //发送的数据
        // var rmName1 = jQuery("#rmName").val();
        var rmName =  $("input[name='rmName']").val();
        console.log("rmName");
        var rmDepart = $("select[name='rmDepart'] option:selected").text();
        var rmManager = $("input[name='rmManager']").val();
        var rmMphone =  $("input[name='rmMphone']").val();
        var rmArea =  $("input[name='rmArea']").val();
        var sendData =  "rmName="+rmName+"&rmDepart="+rmDepart+"&rmManager="+rmManager+"&rmMphone="+rmMphone+"&rmArea="
            +rmArea+"&id="+id;
        if (saveOrUpdate == -1){
            $.ajax({
                url:"Repository/new",
                data:sendData,
                type:"POST",
                success:function(data){
                    if (data){
                        alert("添加成功")
                        $(".table-responsive").empty();
                        getAllInfo();
                    }else{
                        alert("添加失败")
                    }
                }
            })
        }else if (saveOrUpdate == 1){//修改操作
            $.ajax({
                url:"Repository/edit",
                data:sendData,
                type:"POST",
                success:function(data){
                    if (data){
                        alert("修改成功")
                        $(".table-responsive").empty();
                        getAllInfo();
                    }else{
                        alert("修改失败")
                    }
                }
            })
            saveOrUpdate == -1;//改回操作标志，避免一直发送修改请求
        }})
    //编辑操作
    var id = 0;
    function editRepo(Repo){
        // alert("test")
        console.log(Repo)
        var rName =  $("input[name='rmName']").val(Repo.rmName);
        var rManager =  $("input[name='rmManager']").val(Repo.rmManager);
        var rmDepart = Repo.rmDepart;
        var rDepart = $("select[name='rmDepart'] option").each(function(){
            if ($(this).text() == rmDepart){
                $(this).prop("selected",true);
            }
        });
        var rMphone = $("input[name='rmMphone']").val(Repo.rmMphone);
        var rArea =  $("input[name='rmArea']").val(Repo.rmArea);
        $(".table-responsive").empty();
        $("#search_bar").show();
        saveOrUpdate = 1;//表示现在是修改操作
        id = Repo.id;
    }
</script>
</body>
</html>